@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

#container {
    width: 350px;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
}

#container img {
    width: 320px;
    padding: 15px;
    border-radius: 20px;
    margin: 0 auto;
}

#infos {
    padding: 0 25px;
    text-align: center;
    position: relative;
    top: -10px;
}

#infos>h3 {
    font-size: 1.6em;
    color: hsl(218, 44%, 22%);
}

#infos h3+p {
    padding: 0 7px;
    font-size: 1.1em;
    color: hsl(220, 15%, 55%);
}
