@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {
    border: 1px solid red;
    width: 380px;
    margin: 50px auto;
    border-radius: 20px;
}

#container img {
    border: 1px solid green;
    width: 360px;
    padding: 10px;
}