@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {
    border: 1px solid red;
    width: 350px;
    margin: 50px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container img {
    border: 1px solid green;
    width: 320px;
    padding: 15px;
    border-radius: 20px;
    margin: 0 auto;
}